.root {
  display: flex;
  flex: 1 100%;
  flex-direction: row;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  line-height: 2em;
  width: 100%;
  padding-left: 40px;
  box-sizing: border-box;
}

.name {
  margin-right: 20px;
  width: 40%;
}

.details {
  flex: 1;
  text-align: left;
}

.link {
  text-decoration: none;
  color: #1976d2;
}
