.root {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: transparent;
  //border-bottom: 1px solid #f7f8f9;
  display: flex;
  flex-direction: column;
}

.flair {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  font-weight: 300;
  font-size: 2em;
  color: white;
  margin: 10px;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  padding: 7px;
  // background-color:white;
  box-sizing: border-box;
  max-height: 45px;
  overflow: hidden;
}
.link:hover {
  transition: 0.2s linear;
  border-bottom: 8px solid #1976d2;
  box-sizing: border-box;
}
.link {
  padding: 14px;
  box-sizing: border-box;
}

.link a {
  text-decoration: none;
  color: white;
}
.nav a {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  text-transform: uppercase;
}

.slideUpAnimation {
  animation-name: slideUp;
  animation-timing-function: linear;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

@keyframes slideUp {
  0% {
    transofmr: translateY(0px);
  }

  100% {
    transform: translateY(-65px);
  }
}

.slideDownAnimation {
  animation-name: slideDown;
  animation-timing-function: linear;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-70px);
  }
  100% {
    transform: translateY(0px);
  }
}
