.header {
  text-align: center;
  font-weight: 300;
}
.gallery {
  padding-top: 0.9375rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;

  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
