@media only screen and (max-width: 600px) {
  /*
  .brand{
    min-width:100% !important;
    flex: 1 100%;
  }
  .footer{
    height:290px!important;
    padding-bottom:10px!important;
  }
  .linkSection ul li a {
    font-size: 0.8em !important;
  }
  .linkSection{
    margin-left:5%!important;
  }
  .linkSection:last-child{
    margin-left:0%!important;
    margin-right:0%!important;
  }
*/

.footer{
  grid-template-columns:auto auto!important;
  align-items:center;
  padding-bottom:40px!important;
  padding-top:0px!important;

}
.footer *{
  
}
.linkSection{
  margin-left:20%!important;


}
.linkSection:last-child{
 margin-top:17px!important;
 margin-left:13%!important;
}


.brand{
  display:none!important;
}

}
.footer {
  /*display: flex;*/
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #38040e;
  height: 230px;
  padding-top: 20px;
  /*  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;*/
  width: 100%;
}

.footer * {
  color: #f8f8ff;
}


.brandText {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}



.linkSection a {
  text-decoration: none;
}
.linkSection ul {
  list-style-type: none;
  padding-left: 0px;
}
.linkSection ul li {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
}

.bottom {
  width: 100%;
  height: 40px;
  background-color: #250902;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom * {
  color: white;
}

.svgLogo {
  height: 30px;
  fill: white;
  display: inline-block;

  vertical-align: middle;
  margin-right: 10px;
}
