@media only screen and (max-width: 600px) {
  .col {
    width: 100% !important;
  }
}

.gallery__thumbnail {
  width: 100%;
  height: auto;
  margin: 10px;
  cursor: pointer;
}

.gallery__card {
  position: relative;
  overflow: hidden;

  margin-bottom: 1.875rem;
}

.col {
  width: 25%;
}
