@media only screen and (max-width: 600px) {
  .header {
    text-align: center;
  }
}

.specification {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  font-weight: 300;
  margin-top: 0px;
}

.row {
  display: flex;
  flex: 1 100%;
  border-bottom: 1px solid black;
}

.rowName {
  width: 100px;
}

.rowDetails {
  width: 100%;
}
